# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "cliserkad"
    commit-message:
      prefix: "update pom.xml"
      include: "scope"
    open-pull-requests-limit: 1
